ion-fab-button {
  width: 23em !important;
  height: 23em !important;
  ion-icon {
    zoom: 2;
  }
}

.center {
  display: grid;
  place-items: center;
  padding-top: 2em;
}

.clave {
  margin-top: 3em;
}
